.add {
  margin-left: 30px;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 19px;
  border-radius: 5px;
  color: white;
  transition: 0.7s;
}

.add:hover {
  background-color: #f8bd29;
  color: black;
  border-color: black;
}

.delete {
  margin-left: 15px;
  height: 30px;
  width: 30px;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 15%;
  background-color: #f33d3df2;
}

.complete {
  margin-left: 15px;
  background-color: white;
  height: 30px;
  width: 88px;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  background-color: #7d00a7;
}

.done {
  width: 88px;
  margin-left: 15px;
  background-color: white;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  background-color: #00a715e6;
}

.editWaitCheck {
  width: 30px;
  margin-left: 20px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  background-image: url(./editing.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.edit {
  width: 30px;
  margin-left: 20px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  background-image: url(./edit1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.check {
  width: 30px;
  margin-left: 15px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  background-image: url(./check.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  opacity: 0.2;
}

.checkWaitSubmit {
  width: 30px;
  margin-left: 15px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  background-image: url(./check1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
